@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&family=Vast+Shadow&display=swap');

html {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
}

header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
}

#mainTitle {
    font-size: 45px;
    font-weight: normal;
    font-family: 'Vast Shadow', cursive;
}

#container {
    padding: 20px;
}

#addBookBtn {
    background-color: pink;
}

#libraryContents {
    display: flex;
    padding: 15px;
    column-gap: 10px;
}

.bookCard {
    position: relative;
    min-height: 160px;
    min-width: 150px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.bookTitle {
    margin-top: 10px;
    font-weight: bold;
}

.bookAuthor {
    padding-bottom: 10px;
    border-bottom: 1px dashed black;
    margin-bottom: 10px;
}

.pages,
.dateRead {
    font-size: smaller;
}

.readStatus {
    position: absolute;
    padding: 10px;
    bottom: 0;
    left: 0;
}

.bookBtns {
    position: absolute;
    padding: 10px;
    bottom: 0;
    right: 0;
}

.bookBtns > button {
    border: none;
    background: none;
}

.readBtn {
    position: absolute;
    top: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#formModal {
    position: absolute;
    display: none;
    top: 25%;
    right: 50%;
    height: 300px;
    width: 300px;
    border: 1px solid black;
    padding: 10px;
}

.active#formModal {
    display: block;
    background-color: white;
}

.formTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formButtons {
    display: flex;
    justify-content: space-between;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: rgb(98, 121, 129);
}
